body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link-color {
  color: whitesmoke !important;
  font-family: 'Quicksand', sans-serif;
}

.nav-link {
  color: whitesmoke !important;
  font-family: 'Quicksand', sans-serif;
}

.nav-link:hover {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.384);
}

.icon2 {
  margin: 0.5rem;
  color: orange;
}

#video {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: -1;
}

.h1-dou {
  color: white;
  text-shadow: 2px 2px 6px #000000;
  margin: 8% 5%;
  height: 64vh;
}

h1, h2 {
  font-family: 'Quicksand', sans-serif;
}

.button-home {
  background-color: none !important;
  border: 2px solid white;
  color: white;
  text-shadow: 2px 2px 6px #000000;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
}

.button-home:hover {
  background-color: orange;
  color: whitesmoke;
}

.background_carousel {
  background-color: black ;
}

.top-footer {
  background-image: url('../src/assets/footer_image.jpeg');
  background-attachment: fixed;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: bottom;
  align-items: center;
}

.top-footer h3, p, a {
  font-family: "Mochiy Pop P One", sans-serif;
}

.top-footer p {
  width: 30%;
}

.top-footer a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding-top: 30%;
  font-weight: bold;
  color: white;
}

.top-footer a:hover {
  color: orange;  
}

footer {
  font-family: "Mochiy Pop P One", sans-serif;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding-top: ; */
  padding: 1rem;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

.carousel-container {
  width: 95vw;  
  padding-bottom: 3%;
}

.car-cont {
  display: flex;
  justify-content: center;
  background-color: black;
}

.swip-slid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
.user-image {
  width: 60vw;
  height: 60vh;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.user-image:hover {
  transition: ease all 0.3s;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.h3-city {
  font-family: 'Quicksand', sans-serif;
}


.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  color: orange;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-prev:after {
  color: rgb(58, 56, 53);
}

.swiper-pagination-bullet {
  color: orange;
}

.swiper-scrollbar-drag {
  color: white;
  background-color: orange;
}

.navbar-toggler {
  background-color: orange;
}


/* Media Queries */

@media (min-width: 780px) {
  .carousel-container {
      width: 95vw;
  }
  .user-image {
      width: 40vw;
      height: 40vh;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: flex-end;
  }
}

@media (min-width: 960px) {
  .carousel-container {
      width: 95vw;
  }
  .user-image {
      width: 40vw;
      height: 40vh;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: flex-end;
  }
}

@media (min-width: 1200px) {
  .carousel-container {
      width: 90vw;
      margin: 0 0 2rem 0;
  }
  .user-image {
      width: 35vw;
      height: 35vh;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: flex-end;
  }
}


.user-image img {
  width: 100%;
  height: 100%;
}


@media (max-width: 700px) {
  #video {
    display: none;
  }
  .container-home {
    background-image: url('../src/assets/background_image.jpeg');
    background-size: cover;
    background-attachment: fixed;
  }
}

